.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  padding-top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 60px);
}

.content {
  overflow-x: auto;
  padding-left: 20px;
  /* background-color: #fff; */
  border-radius: 4px;
  margin: 20px;
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);*/
  min-height: 70vh;
}
