.header {
    position: fixed;
    top: 0;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    height: 60px;
    background-color: #242424;
    width: calc(100vw - 290px);
}
.header.expanded {
    width: calc(100vw - 120px);
}

.header-title {
    font-size: 20px;
    font-weight: bold;
    /* color: #333; */
}

.header-actions {
    display: flex;
    /* align-items: center; */
}

.header-icon {
    font-size: 24px;
    /* color: #333; */
    margin-left: 20px;
    cursor: pointer;
}

/* Add additional styling as needed */