/* src/Header.css */
.header {
    position: fixed;
    top: 0;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 var(--overlay-background-color);
    height: 60px;
    background-color: var(--primary-header-background-color);
    width: calc(100vw - 290px);
}
.header.expanded {
    width: calc(100vw - 120px);
}

.header-title {
    font-size: 20px;
    font-weight: bold;
    /* color: var(--primary-body-text-color); */
}

.header-actions {
    display: flex;
    /* align-items: center; */
}

.header-icon {
    font-size: 24px;
    cursor: pointer;
}

.header-icon-button {
    background-color: unset;
    border: none;
    color: var(--primary-header-text-color);
    padding: 4px;
    margin-left: 20px;
    cursor: pointer;
}

.header-icon-button:hover {
    background-color: var(--primary-body-text-color);
}

.header .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: auto;
}