/* src/LoginPopUp.css */
.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.login-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--primary-body-text-color);
    border-radius: 8px;
    background-color: var(--primary-body-background-color);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 20px;
    color: var(--primary-header-text-color);
}

.login-box input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-border-color);
    border-radius: 4px;
}

.password-container {
    position: relative;
}

.show-password-btn {
    font-size: small;
    position: absolute;
    right: 4px;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--button-background-color);
    cursor: pointer;
}

.forgot-password-link {
    display: block;
    margin-bottom: 20px;
    color: var(--button-background-color);
    text-decoration: none;
}

.login-std-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--button-background-color);
    border: none;
    color: var(--button-text-color);
    border-radius: 4px;
    cursor: pointer;
}

.login-box .login-error {
    color: #ff0000;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: small;
}

.divider {
    margin: 20px 0;
    color: var(--secondary-border-color);
}

.login-apple-btn {
    width: 100%;
    padding: 10px;
    background-color: #000;
    border: none;
    color: var(--button-text-color);
    border-radius: 4px;
    cursor: pointer;
}

.oauth-login-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-google-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #000;
    border: none;
    color: var(--button-text-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-microsoft-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #222;
    border: none;
    color: var(--button-text-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-link {
    margin-top: 20px;
    color: var(--button-background-color);
}

.signup-link a {
    color: #0073b1;
    text-decoration: none;
}

.login-box.login-btn {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.login-box .login-btn:hover {
    background-color: var(--add-plans-btn-hover-background-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--add-plans-btn-shadow-color);
}

.login-box .login-btn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px var(--add-plans-btn-shadow-color);
}